h2{
    color: #f00000;/* altera a cor da letra*/
    background-color: blueviolet;/* altera a cor de fundo */
  font-family: ;/* muda a fonte da letra */


}
 a{
text-decoration: none;

 }

