div.a {
  text-align: center;
}
    
    table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 40%;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


* {
  max-width: 1400px;
}

header{
  color: #ffffff;/* altera a cor da letra*/
  background: #7469B6; /* altera a cor de fundo */
  font-family: 'Courier New', Courier, monospace; /* mudar a fonte */
  font-size: 15px;/* tamanho da fonte */ 
  margin: -8px;
  display: flex;
  justify-content: space-between;
  
}


.pai{
  display: flex;
  }
  
  
h1  {
  text-align: center ;/* alinhamento de texto */
  position: relative;
  top: 35px;
}

h2{
  font-size: 30px;
}

p {
  font-family:Arial, Helvetica, sans-serif ;
  margin: 10px;
}

a {
text-decoration: none;/* decorar o texto */
font-size: 15px;;
padding: 10px;/* espaçamento */
margin: 10px;/* margem */

display: flex;
width: 50px 50px; /* largura */
height:50px 50px;/* altura */
  
color: #ffffff;
font-size: 20px;
font-weight: bold;/* fonte em negrito */
border-radius: 5px ;/* borda curvada */
}


a:hover {
color: #7469B6;
background: #FFE6E6;
border: 1px solid black ; /* borda */
transition: all 0.5s; /* transição */
}

ul {
  list-style: none;/* estilo de lista */
  display: flex; /* exibir */
  position: relative;
  top: 30px;
  right: 20px;
  top: 30px;
  flex-direction: row; /* direção */
  justify-content:space-evenly; /* alinhar */ 
  align-items: center;
}

.logo {
width: 150px;
height: 150px;
margin-left: 2px;
}

form{
margin: 10px;
}
 
.foto{
  transition: transform 1s;
  transform: translateX(0) scale(1);
}

.foto:hover{
transition: all 0.5;  
transform: translateX(10px) scale(1.1);
}

h2{
  font-size: 40px;
}

.rodape{
  position: relative;
  top: 200px;
}

table{
background: #FFE6E6;
margin: 15px;
}


footer{
  background-color: #7569b6e0;
  padding: 15px;
  margin: -8px;
  display: flex;
  justify-content: center;
}